body {
        padding-bottom: 40px;
        font-size: 140%;
        background: url("../img/fondo.jpg") no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
   
}

      .content {
        max-width: 100%;
        height: 100%;
        padding: 19px 29px 29px;
        margin: 0 auto 00px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
 
 .btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #E2001B;
}

.btn-ttc {
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #009ED2 0%, #007DA7 100%);
}

.btn-ttc:hover {
  background: url("../img/fondo.jpg") no-repeat center center fixed;
  color: #E2001B;
 -moz-box-shadow: 5 2px 3px ;
}
 
 

 
 
.cinta{
	position:relative;
	color:#fff;
	background:#E2011B;
	font-size:1.5em;
	float:left;
	clear:both;
	padding:10px 10px 10px 20px;
	margin-left:-10px;
	margin-bottom:20px;
	margin-top:-10px;
	text-shadow:0 -1px #d0284b, 0 1px #f96080;
	width: 101.5%;
	-moz-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
	-o-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
	box-shadow:2px 2px 0 rgba(0,0,0,0.1);
}
.cinta:before,
.cinta:after,
.cinta:before{
	content:" ";
	background:url(../img/ribbon.png);
	display:block;
	width:10px;
	height:10px;
	position:absolute;
	bottom:0;
	left:0;
	margin-bottom:-10px;
	z-index:-1;
}


.cinta:after{
	background:url(../img/ribbon-2.png);
	right:0;
	left:auto;
}