{% extends 'base.html'%}
{% load staticfiles %}
{% block title%}
PDVSA GAS
{% endblock title%}
{% block content%}
		<div style="color: #E2011B;text-align: center;font-family: sans-serif;font-size: xx-large;">
    	<h1>BENVENIDO</h1> 
    	 <p>PDVSA GAS
     		<br> 
     	La Quizanda
     	<br>
     	 Transporte y Distribucion
     	 <br>
     </p>
   		 </div> 

   		 <div>
       <center>

	         <img alt="" src="{% static 'img/chavez1.jpeg' %}" width="77%" height="40%">
	
        </center>
      </div>
{% endblock content%}